<footer class="wrapper astro-SZ7XMLTE">
  <!-- <small class="astro-SZ7XMLTE">© 1994 - 2023</small> -->
  <small class="astro-SZ7XMLTE">Last updated February / <span class="text-gradient footer-style">2023</span></small>
</footer>